.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: left;
}

.clearfix {
    zoom: 1;
}

.floatL {
    float: left;
}

.floatR {
    float: right;
}

.textLeft {
    text-align: left;
}

.textCenter {
    text-align: center;
}

.textRight {
    text-align: right;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ellipsis-mult {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}